.cuadroPerfil {
    margin: auto;
    width: 10vw;
    min-width: 84px;
    height: 10vw;
    min-height: 84px;
    background-color: transparent;
    border-color: transparent;
    border-style: solid;
    border-width: 2px;
}

.cuadroPerfil:hover {
    background-color: #E5E5E5;
    border-color: #E5E5E5;
}

.centrarIcono {
    border-radius: 58px;
    background-color: rgb(163, 163, 163);
    margin: auto auto;
    width: 5.40vw;
    height: 5.40vw;
    padding: 1.20vw 1.35vw;
    min-width: 40px;
    min-height: 40px;
}

.cuadroPerfil img {
   width: 9.7vw;
   min-width: 80px;
}

ul {
    list-style: none;
}

li {
    width: 10vw;
    margin: auto;
    min-width: 84px;
    margin-top: 15px;
    cursor: pointer;
}

li:hover a {
    color: rgb(87, 87, 87);
}


a {
    color: #E5E5E5 !important;
}

a:hover {
    text-decoration: none;
    text-emphasis: none;
    outline: none;
    color: rgb(87, 87, 87);
}
