<div class="info-registro">
    <img id="img-check" src="assets/img/singin/Lock.png" alt="">
    <div class="" style="font-size:13px; text-align:center">PASO 3 DE 3</div><br>
    <div class=""><b style="font-size:20px;">Configura tu metodo de pago.</b></div>
    <div>
        <div class="informacion-planes">Cancela antes del ...</div><br>
    </div>
    <div>
        <div class="informacion-planes">Como recordatorio, <b>te enviaremos un email 3 dias antes</b></div>
    </div><br>
    <br>
    <div>
        <div class="informacion-planes"><b>Sin compromisos, cancela cuando quieras.</b></div>
    </div><br><br>
    <button id="btn-tarjetas" type="button" [routerLink]="['/infopago']">
      Tarjeta de crédito o débito
      <img class="item-btn-tarjetas" src="assets/img/singin/icon_visa_37x25.png" alt="">
      <img class="item-btn-tarjetas" src="assets/img/singin/icon_master_33x25.png" alt="">
      <img class="item-btn-tarjetas" src="assets/img/singin/icon_amex_37x25.png" alt="">
  </button>
</div>