body {
    margin: 0;
    height: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


/*INICIO Navbar*/

nav {
    background-color: #000;
    width: 100%;
    height: 50px;
}

nav img {
    width: 130px;
}

nav a {
    color: #ccc;
    text-decoration: none;
    font-size: 14px;
}

nav a:hover {
    color: #ffffff;
    text-decoration: none;
}

.navbar-item {
    float: left;
    margin: 0 10px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}


/*FIN Navbar*/


/*INCIO main*/

.container-fluid {
    font-size: 14px;
    position: relative;
    top: 10px;
    color: #fff;
    background-color: rgb(61, 61, 61);
    position: relative;
    top: 15px;
    width: 80%;
    padding: 40px !important;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
}

#texto-cuenta {
    margin: 15px 0;
    margin-bottom: 0;
    width: 100%;
    font-size: 30px;
    border-bottom: solid 1px #ccc;
}

.texto-mayus {
    font-size: 18px;
    color: #a49999;
}

div.col-md-4 {
    padding: 10px 0;
}

.row {
    padding: 10px 0;
}

.row-border {
    border-bottom: solid 1px #ccc;
    font-size: 17px;
}

.c3 {
    text-align: right;
}

.btn-config {
    background-color: rgb(231, 228, 228);
    border: none;
}

#btn-cancelar-membresia {
    width: 200px;
    height: 35px;
}

#btn-canjear {
    width: 90px;
    height: 35px;
    width: 90px;
    height: 40px;
    margin: 0 15px;
}

.btn-config:hover {
    background-color: #cccc;
    cursor: pointer;
}

#input-promocion {
    height: 35px;
    padding: 10px;
    text-align: center;
    margin: 15px 0;
}

a {
    color: #afafaf;
}