.informacion-planes {
    display: inline-block;
    position: absolute;
    margin: 0 5px;
}

#btn-ir:focus {
    outline: 1;
}

#img-check {
    width: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#info-registro .fas {
    margin: 5px;
}