.div-central {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#info-registro {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 300px;
}

.informacion-planes {
    display: inline-block;
    position: absolute;
    margin: 0 5px;
}

#btn-ir:focus {
    outline: 1;
}

#img-check {
    width: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#info-registro .fas {
    margin: 5px;
}

.body {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: rgb(255, 255, 255);
}