<div id="info-registro" class="fadeIn">
    <img id="img-check" src="assets/img/singin/Checkmark.png" alt="">
    <div class="" style="font-size:13px; text-align:center">PASO 1 DE 3</div><br>
    <div class=""><b style="font-size:20px;">Selecciona tu plan.</b></div>
    <div><i class="fas fa-check"></i>
        <div class="informacion-planes">No se te cobrará hasta que termine tu mes gratis.</div>
    </div><br>
    <div><i class="fas fa-check"></i>
        <div class="informacion-planes">Te recordaremos 3 días antes de que termine tu prueba.</div>
    </div><br>
    <div><i class="fas fa-check"></i>
        <div class="informacion-planes">Sin compromisos, cancela cuando quieras.</div>
    </div><br>
    <button type="button" class="btn-singin-underline" [routerLink]="['/planes']">VER PLANES</button>

</div>