<div class="body animated fadeIn">
    <img src="../../../assets/img/logo.png" class="imnet" style="cursor:pointer;">
    <div class="" id="divTotal">
        <div class="">
            <div id="agregarPerfil" style="display: block;">
                <div>
                    <h1>Agregar perfil</h1>
                    <h5>Agrega otro perfil para otra persona que ve Netflix.</h5>
                </div>
                <div class="navbar" id="divUsuario">
                    <div>
                        <img src='../../../assets/img/perfil/000.png' alt="">
                    </div>
                    <div>
                        <input type="text" (keyup.enter)='continuar(txtNombreAgregar.value)' placeholder="Nombre" id="txtNombreAgregar" #txtNombreAgregar>
                        <input type="checkbox" id="chk-kids">
                        <label for="chk-kids" style="color: white;">¿KIDS?</label>
                    </div>
                </div>
                <div>
                    <button class="btn btn-light" (click)='continuar(txtNombreAgregar.value)' id="btn-crearRegistro">Continuar</button>
                    <button class="btn btn-dark" (click)="cancelar()" id="btn-cancelarRegistro">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>