#btn-iniciar-membresia {
    width: 418px;
    height: 48px;
    position: relative;
    left: 50%;
    margin: 20px 0;
    transform: translateX(-50%);
    border: solid 1px;
    background: #F6121D;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
}

#contenido-registro-4 {
    position: absolute;
    top: 500px;
}

#info-plan-adquirido {
    width: 400px;
}

.input-tarjetas {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 5px 0;
    width: 418px;
    height: 48px;
    padding: 10px;
    border: 1px solid rgb(189, 178, 178);
}

.body {
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: rgb(255, 255, 255) !important;
}

#invalid-tarjeta,
#invalid-fecha-vencimiento,
#invalid-cvc {
    display: none;
    color: red;
    font-size: 14px;
}