<div class="div-central" id="contenido-registro-4"><br>
    <div>PASO 3 DE 3</div>
    <div><b>Configura tu tarjeta de crédito o débito.</b></div>
    <div>
        <img class="item-btn-tarjetas" src="assets/img/singin/icon_visa_37x25.png" alt="">
        <img class="item-btn-tarjetas" src="assets/img/singin/icon_master_33x25.png" alt="">
        <img class="item-btn-tarjetas" src="assets/img/singin/icon_amex_37x25.png" alt="">
    </div>
    <input class="input-tarjetas" type="text" placeholder="Nombre"><br>
    <input class="input-tarjetas" type="text" placeholder="Apellido"><br>
    <input class="input-tarjetas" type="text" placeholder="Numero de tarjeta"><br>
    <input class="input-tarjetas" type="text" placeholder="Fecha de vencimiento(MM/AA)"><br>
    <input class="input-tarjetas" type="text" placeholder="Codigo de seguridad">
    <!--INFORMACION SOBRE EL PLAN A ADQUIRIR-->
    <div id="info-plan-adquirido">
        <div><span style="font-size:12px;"><b>TU PLAN</b></span><br> Streaming ilimitado en HD y Ultra HD por USD11.99 al mes después de la prueba gratis.</div><br>
        <div style="font-size:12px;">Los pagos se procesarán internacionalmente. Es posible que se apliquen comisiones bancarias adicionales.</div><br>
        <div style="font-size:13px;">
            Al hacer clic en el botón "Iniciar membresía", aceptas nuestros Términos de uso y nuestra Declaración de privacidad, y declaras que tienes más de 18 años. Puedes cancelar tu membresía en cualquier momento durante tu prueba gratis y no se te cobrará. Para
            hacerlo, visita tu Cuenta y haz clic en "Cancelar membresía".
        </div><br>
        <div style="font-size:12px;">
            Cuando tu prueba gratis se termine, Netflix continuará tu membresía de manera automática y, hasta que la canceles, te facturará el cargo mensual (actualmente de USD11.99) a través de la forma de pago elegida. No se ofrecen reembolsos ni créditos por meses
            parciales.
        </div>
    </div>

    <button type="button" id="btn-iniciar-membresia">INICIAR MEMBRESÍA</button>
</div>