<app-navbar-sing-in></app-navbar-sing-in>
<div class="div-central" id="contenido-registro-2">
    <div class="texto-central-2" style="font-size:13px;">PASO 2 DE 3 {{x}}</div>
    <div class="texto-central-2"><b>Suscríbete para que comiences tu mes gratis</b></div>
    <div class="texto-central-2">¡Dos pasos más y listo!<br>Tampoco nos gustan los trámites.</div>
    <div class="texto-central-2"><b>Crea tu cuenta.</b></div>
    <input type="email" name="" id="user-email" class="signup-input" placeholder="Email">
    <i class="fas fa-check-circle valid icon" id="valid-email"></i><i class="fas fa-times-circle invalid icon" id="invalid-email"></i>
    <i class="texto-validacion" id="texto-invalid-email">Correo electronico invalido.</i>
    <i class="texto-validacion" id="email-vacio">Debe introducir un correo electronico.</i>
    <input type="password" id="user-password" class="signup-input" placeholder="Contraseña">
    <i class="fas fa-check-circle valid icon" id="valid-password"></i><i class="fas fa-times-circle invalid icon" id="invalid-password"></i>
    <i class="texto-validacion" id="password-vacio">La contraseña debe tener entre 4 y 16 caracteres.</i>
    <button (click)="camposValidos()" id="btn-cc2" type="button">CONTINUAR<i class="fas fa-chevron-circle-right"></i></button>
</div>