.header-nav {
    position: sticky;
    top: 0;
    z-index: 1071;
    background-color: transparent !important;
}

.container-fluid,
.row {
    margin: 0 !important;
    padding: 0 !important;
}

.container-fluid {}

app-launch-preview {
    width: 100%;
}

.row-preview {
    width: 100%;
    position: relative;
    bottom: 50px;
}