nav {
    border-bottom: solid 1px #ccc;
    height: 80px;
}

#navbar-img-logo {
    width: 200px;
}

nav a#iniciar_sesion {
    font-weight: bold;
    text-decoration: none;
    font-size: 19px;
    float: right;
    color: #000;
}