.navbar {
    position: sticky;
    top: 0;
    z-index: 1071;
    background-color: transparent !important;
}

.mr45 {
    margin-right: auto;
}

a {
    /* color: rgb(200,200,200) !important;
   cursor: pointer; */
    font-size: 13px;
    font-weight: 700
}

.margin-bueno {
    margin-right: 15px;
}

.list-group {
    border: 1px solid #ccc;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.list-group a {
    font-weight: normal !important;
}

.list-group-item.active {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    border-color: rgb(20, 20, 20);
}

.list-group-item {
    background-color: rgba(0, 0, 0, 3);
    color: white;
}

.list-group-item-action:hover {
    text-decoration: underline !important;
}

.list-down {
    padding: 8px 5px;
}

.list-left {
    text-align: left;
}

#input-search {
    height: 30px;
    width: 5px;
    background-color: #000;
    color: #fff;
    border: solid 1px #fff;
    border-left: none;
    border-radius: 0px;
    font-size: 14px;
    border-color: #fff;
}

input:focus {
    border: solid 1px #fff;
    border-left: none;
    outline: none !important;
}

#icon-search {
    color: #fff;
    font-size: 18px;
    margin: 4px 5px;
}

#icon-search:hover {
    cursor: pointer;
}