<div class="body">
    <img src="../../../assets/img/logo.png" (click)="regresar();" class="imnet" style="cursor:pointer;">
    <div class="" id="divTotal">
        <div class="">
            <div class="" id="divPerfiles" style="display: block;">
                <div class="">
                    <h1 style="padding-left: 3vw; margin: auto;">¿Quién está viendo ahora?</h1>
                </div>
                <div class="">
                    <ul id="listaPerfiles" class="navbar">
                        <li id="agregarPerfilli">
                            <a href="#">
                                <div>
                                    <div class="cuadroPerfil" style="padding-top: 2.35vw">
                                        <div class="text-center centrarIcono">
                                            <i class="fa-plus fa"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <span>Agregar Perfil</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <div class="cuadroPerfil">
                                        <img class="img-fluid" src="../../../assets/img/perfil/002.png">
                                    </div>
                                    <div>
                                        <span>Perfil-niña</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div>
                                    <div class="cuadroPerfil" id="P001">
                                        <img class="img-fluid" src='../../../assets/img/perfil/001.png'>
                                    </div>
                                    <div>
                                        <span>Perfil-niño</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div style="margin-top: 50px;">
                    <button class="btn btn-dark" id="btn-AdministrarRegistro" style="width: 18vw; min-width: 173px!important; margin-left: 13vw;">Administrar Perfiles</button>
                </div>
            </div>
            <div id="agregarPerfil" style="display: none;">
                <div>
                    <h1>Agregar perfil</h1>
                    <h5>Agrega otro perfil para otra persona que ve Netflix.</h5>
                </div>
                <div class="navbar" id="divUsuario">
                    <div>
                        <img src='../../../assets/img/perfil/001.png' alt="">
                    </div>
                    <div>
                        <input type="text" placeholder="Nombre" id="txt-nombreAgregar">
                        <input type="checkbox" id="chk-kids">
                        <label for="chk-kids" style="color: white;">¿KIDS?</label>
                    </div>
                </div>
                <div>
                    <button class="btn btn-light" id="btn-crearRegistro">Continuar</button>
                    <button class="btn btn-dark" id="btn-cancelarRegistro">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>