<div class="body animated fadeIn">
    <img src="../../../assets/img/logo.png" (click)="regresar();" class="imnet" style="cursor:pointer;">
    <div class="" id="divTotal">
        <div class="">
            <div class="" id="divPerfiles" style="display: block;">
                <div class="text-center">
                    <h1 style="">¿Quién está viendo ahora?</h1>
                </div>
                <div class="">
                    <ul id="listaPerfiles" class="navbar" (click)='redireccionar()' >
                        <app-lista-perfiles class="m-auto"></app-lista-perfiles>
                        <app-lista-perfiles class="m-auto"></app-lista-perfiles>
                        <li (click)="agregarPerfil()" id="agregarPerfilli">
                            <a>
                                <div>
                                    <div class="cuadroPerfil" style="padding-top: 2.35vw">
                                        <div class="text-center centrarIcono">
                                            <i class="fa-plus fa"></i>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <span>Agregar Perfil</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div style="margin-top: 50px;">
                    <button class="btn btn-dark" (click)="administrarPerfiles()" id="btn-AdministrarRegistro" style="width: 18vw; min-width: 173px!important; margin-left: 13vw;">Administrar Perfiles</button>
                </div>
            </div>
        </div>
    </div>
</div>
