.info-cartelera {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    display: none;
    height: 100%;
    width: 100%;
}

.card {
    border: none !important;
    border-radius: none !important;
}

.card-cartelera:hover .info-cartelera {
    display: block;
}

.cartelera-sinopsis {
    margin-top: 25%;
}

.far {
    color: rgba(255, 255, 255, 0.5);
}

.far:hover {
    color: rgba(255, 255, 255, 1);
}