<div class="card-cartelera">
    <div class="card mb-3" style="width: 9rem;">
        <img [src]='cartelera.imagen' style="height: 13.5rem;" alt=" ">

        <div class="info-cartelera">
            <div class="text-center   ">
                {{ cartelera.nombre }}
            </div>
            <div class="text-center " style="font-size: 9px;">
                <div class="cartelera-sinopsis">
                    <span style="font-weight: bold; font-size: 10px; text-emphasis-style: inherit ">sinopsis:</span> {{cartelera.sinopsis | slice:0:80}}...
                </div>
            </div>
            <div class="text-center">
                <i class="fas fa-angle-down " style="font-size: 25px"></i>
            </div>

        </div>

    </div>
</div>