<div class="card-cartelera">
    <div class="card mb-3" style="width: 9rem;">
        <img [src]='cartelera.imagen' style="height: 13.5rem;" alt=" ">

        <div class="info-cartelera">
            <div class="text-center   ">
                {{ cartelera.nombre }}
            </div>
            <div class="text-center " style="width: 100%; height: 100%; font-size: 9px;">
                <div class="cartelera-sinopsis">
                    sinopsis: {{cartelera.sinopsis | slice:0:100}} ...
                </div>
            </div>
        </div>

    </div>
</div>