<div class="card-cartelera">
    <div class="card mb-3" style="width: 9rem;">
        <img [src]='cartelera.imagen' style="height: 13.5rem;" alt=" ">

        <div class="info-cartelera">
            <div class="text-center   ">
                {{ cartelera.nombre }}
            </div>
            <div class="position-absolute text-right col-1 mt-3">
                <i class="far fa-play-circle"></i>
                <i class="far fa-thumbs-up"></i>
                <i class="far fa-thumbs-down"></i>
            </div>
            <div class="text-center " style="font-size: 9px;">
                <div class="cartelera-sinopsis">
                    <span style="font-weight: bold; font-size: 10px; text-emphasis-style: inherit ">sinopsis:</span> {{cartelera.sinopsis | slice:0:80}}...
                </div>
            </div>
            <div class="text-center" data-toggle="collapse" [attr.data-target]="'#collapse' + cartelera.id + categoria" aria-expanded="false" [attr.aria-controls]="'collapse' + cartelera.id + categoria">
                <i class="fas fa-angle-down " style="font-size: 25px"></i>
            </div>
        </div>
    </div>
</div>