<div class="collapse" id="collapse{{infoCartelera.CODIGO_PELICULA}}{{categoria.ID}}" class="collapse" aria-labelledby="headingOne" [attr.data-parent]="'#accordion' + categoria.ID">
    <div class="row col-10" id="infoTotal">
        <div class="col-4" id="infoResenia">
            <!--{{infoCartelera.RESENIA}}-->Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nisi praesentium libero saepe iusto quaerat veritatis ut, deleniti reprehenderit officia. Quae consequatur unde praesentium quibusdam ut voluptatem at corporis, impedit cupiditate?
        </div>
        <div class="col-8">
            <img class="" [src]='infoCartelera.URLIMAGEN2' style="height: 400px" alt="First slide">
        </div>
    </div>