<div class="body">
    <app-navbar-sing-in></app-navbar-sing-in>
    <div class="div-central fadeIn fast" id="contenido-registro-1">
        <img src="assets/img/singin/Devices.png">
        <div class="texto-central-1" style="font-size:13px;">PASO 2 DE 3</div>
        <div class="texto-central-1"><b>Crea tu cuenta.</b></div>
        <div class="texto-central-1">Usa tu email y crea una contraseña para ver Netflix en cualquier dispositivo, cuando quieras</div>
        <button id="btn-cc1" type="button" [routerLink]="['/singin/regform']">CONTINUAR<i class="fas fa-chevron-circle-right"></i></button>
    </div>
</div>