<div class="wrapper">

    <span id="controlL" (click)='moverIzquierda()' class="left-controls" role="button" aria-label="See Previous Modules">
       <!-- <b class="fa fa-chevron-left fa-chevron-left-extra" aria-hidden="true"></b>-->
        <i class="fas fa-chevron-left fa-chevron-left-extra"></i>
    </span>
    <h1>{{categoria.nombre}}</h1>
    <div class="module-section clearfix" id="carousel{{categoria.ID}}">
        <!-- <button class="btn arrow-guides fa-chevron-left"></button> -->
        <ul id=".content">
            <li *ngFor='let cartelera of carteleras' class="card effect1">
                <div class="">
                    <app-card-peliculas [cartelera]='cartelera' [categoria]='categoria.ID'></app-card-peliculas>

                </div>
            </li>
        </ul>
    </div>
    <div style="margin-top:-25px; margin-bottom: 50px; width: auto;" id="accordion{{categoria.ID}}">
        <!--padre-->
        <app-informacion-cartelera *ngFor='let cartel of carteleras' [infoCartelera]='cartel' [categoria]='categoria'></app-informacion-cartelera>
    </div>

    <!--end of module-section-->

    <span id="controlR" (click)='moverDerecha()' class="right-controls" role="button" aria-label="See Previous Modules">
    <!--    <b class="fa fa-chevron-right fa-chevron-right-extra" aria-hidden="true"></b> -->
        <i class="fas fa-chevron-right fa-chevron-right-extra"></i>
    </span>
    <!-- <button class="btn arrow-guides-right fa-chevron-right"></button> -->
</div>